

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="{{profile.html_url}}"><img class="img-fluid"  style="width: 50px; height: 50px;" src="{{profile.avatar_url}}"></a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="username" name="username" (keyup)="findProfile()">
  </form>
  <li class="nav">
    <a class="nav-link btn btn-outline-primary" href="#" routerLink="/">Home</a>
    <a class="nav-link btn btn-outline-primary" href="#" routerLink="/repos">Repositories</a>
  </li>
</nav>

<div class="container-fluid">

  <h1 class="text-monospace text-uppercase" style="font-family: fantasy; color:black; text-align: center;">Repositories:</h1>
  <section class="text-center d-inline-flex">
    <figure >
      <div class=" row ">
        <div class="card col-md-3 bg-dark text-light " *ngFor="let repos of repos">
          <div class="card-body card-text">
            <div class=" modal-header text-monospace text-bold">
              {{repos.name}}
            </div>

            <div>
              <p id="dec">
                {{repos.description}}
              </p>
            </div>

            <div class="card-footer">
              <a href="{{repos.html_url}}" class="text-align-center" target="_blank"
                 class="view btn btn-outline-success" style="color: blue;">View on Github</a>

            </div>

          </div>
        </div>
      </div>
    </figure>


  </section>


</div>
